@import "bulma/css/bulma.css";

.Progress {
  background-color: var(--bgColor-neutral-muted, var(--color-neutral-subtle));
  border-radius: 6px;
  display: flex;
  height: 8px;
  outline: 1px solid #0000;
  overflow: hidden;
}
.center {
  align-items: center;
  align-content: center !important;
}
.box {
  transition: transform 0.25s ease-in-out;
}

.box:hover {
  background-color: #f5f5f5; /* Cambia este valor al color que prefieras */
  transform: scale(1.05) translateY(-10px);
}
